<h2>Registration Form</h2>
<div class="container">
  <form class="register" #form="ngForm" (ngSubmit)="register(form)">
    <fieldset>

      <!-- username -->
      <span class="register-username">Username</span>
      <p class="field field-icon">
        <label for="username"
          ><span><i class="fas fa-user"></i></span
        ></label>
        <input
          class="input-error"
          type="text"
          name="username"
          id="username"
          placeholder="Plamen"
          ngModel
          #inputRegister="ngModel"
          required
        />
      </p>
      <p class="error">Username is required!</p>

      <!-- username validation -->
      <span class="register-email">Email</span>
      <p class="field field-icon">
        <label for="email"
          ><span><i class="fas fa-envelope"></i></span
        ></label>
        <input
          type="email"
          name="email"
          id="email"
          placeholder="plamenpetroww@gmail.com"
        />
      </p>
      <p class="error">
                  Email is required!
              </p>
              <p class="error">
                  Email is not valid!
              </p>

      <!-- password -->
      <span class="register-password">Password</span>
      <p class="field field-icon">
        <label for="password"
          ><span><i class="fas fa-lock"></i></span
        ></label>
        <input
          type="password"
          name="password"
          id="password"
          placeholder="******"
        />
      </p>
      <p class="error">
                  Password is required!
              </p>
              <p class="error">
                  Password must be at least 4 characters!
              </p>

      <!-- rePassword -->
      <span class="register-password">Confirm Password</span>
      <p class="field field-icon">
        <label for="rePassword"
          ><span><i class="fas fa-lock"></i></span
        ></label>
        <input
          type="password"
          name="rePassword"
          id="rePassword"
          placeholder="******"
        />
      </p>
      <p class="error">Repeat Password does not match password!</p>

      <button disabled>Create Account</button>

      <p class="text-center">
        Have an account?
        <a routerLink="/login">Log In</a>
      </p>
    </fieldset>
  </form>
</div>
