<h2>Registration Form</h2>
<div class="container">
  <form class="register" #form="ngForm" (ngSubmit)="register(form)">
    <fieldset>
      <!-- username -->
      <span class="register-username">Username</span>
      <p class="field field-icon">
        <label for="username"
          ><span><i class="fas fa-user"></i></span
        ></label>
        <input
          class="input-error"
          type="text"
          name="username"
          id="username"
          placeholder="Plamen"
          ngModel
          #inputRegister="ngModel"
          required
          minlength="6"
        />
      </p>
      <!-- username validation -->

      <ng-container *ngIf="inputRegister.touched">
        <p class="error" *ngIf="inputRegister.errors?.['required']">
          Username is required!
        </p>
        <p class="error" *ngIf="inputRegister.errors?.['minlength']">
          The username must be at least
          {{inputRegister.errors?.['minlength']['requiredLength']}} characters!
        </p>
      </ng-container>

      <!-- email -->

      <span class="register-email">Email</span>
      <p class="field field-icon">
        <label for="email"
          ><span><i class="fas fa-envelope"></i></span
        ></label>
        <input
          type="email"
          name="email"
          id="email"
          placeholder="plamenpetroww@gmail.com"
          ngModel
          #inputEmail="ngModel"
          required
          [appEmail]="emailDomains"
        />
      </p>

      <!-- email validation -->

      <ng-container *ngIf="inputEmail.touched">
        <p class="error" *ngIf="inputEmail.errors?.['required']">
          Email is required!
        </p>
        <p class="error" *ngIf="inputEmail.errors?.['emailValidator']">
          Email is not valid!
        </p>
      </ng-container>

      <!-- password -->

      <span class="register-password">Password</span>
      <p class="field field-icon">
        <label for="password"
          ><span><i class="fas fa-lock"></i></span
        ></label>
        <input
          type="password"
          name="password"
          id="password"
          placeholder="******"
          ngModel
          #inputPassword="ngModel"
          required
          minlength="6"
        />
      </p>

      <!-- password validation -->

      <ng-container *ngIf="inputPassword.touched">
        <p class="error" *ngIf="inputPassword.errors?.['required']">
          Password is required!
        </p>
        <p class="error" *ngIf="inputPassword.errors?.['minlength']">
          Password must be at least 6 characters!
        </p>
      </ng-container>

      <!-- rePassword -->

      <span class="register-password">Confirm Password</span>
      <p class="field field-icon">
        <label for="rePassword"
          ><span><i class="fas fa-lock"></i></span
        ></label>
        <input
          type="password"
          name="rePassword"
          id="rePassword"
          placeholder="******"
          ngModel
          #inputRePass="ngModel"
          required
        />
      </p>

      <!-- rePass validation -->

      <ng-container *ngIf="inputRePass.touched">
        <p class="error" *ngIf="inputRePass.errors?.['required']">Repeat Password is required</p>
      </ng-container>
      <button [disabled]="form.invalid"
      [class.validForm]="form.valid">
      Create Account
      </button>

      <p class="text-center">
        Have an account?
        <a routerLink="/login">Log In</a>
      </p>
    </fieldset>
  </form>
</div>
