<div class="service__page">
  <img
    class="img__surf__large"
    src="../../assets/img/surfer-ocean.jpg"
    alt=""
  />
  <div class="service__page__title">Service Page</div>
  <br />
  <div class="service__page__text"><a routerLink="/register">Register</a>
    <span>&#8594;</span><a class="page__text__color" routerLink="/login">Login</a>
  </div>
</div>

<div class="sport__logo">
  <img src="../../assets/img/extreme-surfing.webp" alt="Surfing" />
  <img src="../../assets/img/kide-surfing.webp" alt="Surfing" />
  <img src="../../assets/img/surfer.webp" alt="Surfing" />
  <img src="../../assets/img/surfing1.webp" alt="Surfing" />
  <img src="../../assets/img/surfing2.webp" alt="Surfing" />
</div>
