/*login register forms  */

.container {
  margin-bottom: 40px;
}

form.login {
  width: 40%;
  margin: 2em auto 0;
  text-align: center;
  font-family: "Opensans";
}

.login fieldset {
  border-radius: 0.3em;
  padding: 0.8em;
  background-color: #ffffff;
}

h2 {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 0;
  border-bottom: none;
  font-family: "Hey October";
  color: #121a37;
  font-size: xx-large;
}

.login-password,
.login-email {
  font-size: xx-large;
}

.login p {
  padding-bottom: 0;
  padding-top: 1.5rem;
}

.login input {
  flex: 0 1 100%;
  border: 1px solid;
  padding: 0.3em;
  border-left: 0.3em solid #01b663;
  border-top-right-radius: 0.3em;
  border-bottom-right-radius: 0.3em;
}

.login select {
  border-color: black;
}

.login button {
  color: #01b663;
  border: none;
  border-radius: 0.3em;
  padding: 0.6em 1.2em;
  margin-top: 1.5rem;
  width: 60%;
  outline: none;
  font-size: x-large;
  font-family: "Hey October";
}

.login i {
  border-top-left-radius: 0.3em;
  border-bottom-left-radius: 0.3em;
  background-color: #e9ecef;
}

.login a {
  color: #007bff;
}

.login a:hover {
  cursor: pointer;
}
.login .field {
  display: flex;
  padding-bottom: 0;
}

/* errors  */

p.error {
  text-align: left;
  border-radius: 0.3em;
  color: red;
  padding-top: 0;
  font-family: "Poppins";
}

.input-error {
  border-left-color: red;
}

.validForm {
  transition: background-color 0.5s ease;
  color: #01b663;
  background-color: #121a37;
}

.loggin-error {
  color: red;
}

.messageContainer {
  position: fixed;
  right: 100px;
  min-width: 100px;
  display: block;
  z-index: 11111;
  top: 80px;
  text-align: center;
  border-radius: 20px;
  color: rgb(255, 255, 255);
  height: auto;
  width: 320px;
  box-shadow: 0 5px 10px black;
}

.messageContainer > p {
  background: #59452e84;
  font-size: 20px;
  padding: 20px;
  height: auto;
  border-radius: 20px;
}

.messageContainer {
  -moz-animation: cssAnimation 0s ease-in 10s forwards;
  /* Firefox */
  -webkit-animation: cssAnimation 0s ease-in 10s forwards;
  /* Safari and Chrome */
  -o-animation: cssAnimation 0s ease-in 10s forwards;
  /* Opera */
  animation: cssAnimation 0s ease-in 10s forwards;
  -webkit-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
}

@keyframes cssAnimation {
  to {
    width: 0;
    height: 0;
    overflow: hidden;
    padding: 0;
  }
}

@-webkit-keyframes cssAnimation {
  to {
    width: 0;
    height: 0;
    visibility: hidden;
    padding: 0;
  }
}