<h2>Login Form</h2>
<div class="container">
  <form class="login" #form="ngForm" (ngSubmit)="login(form)">
    <fieldset>

      <!-- email -->

      <span class="login-email">Username</span>
      <p class="field field-icon">
        <label for="email"
          ></label
        >
        <input
          class="input-error"
          type="email"
          name="email"
          id="email"
          placeholder="plamenpetroww@gmail.com"
          ngModel
          #inputEmail="ngModel"
          required
          [appEmail]="emailDomains"
        />
      </p>

      <!-- email validation -->

      <ng-container *ngIf="inputEmail.touched">
        <p class="error" *ngIf="inputEmail.errors?.['required']">
          Email is required!
        </p>
        <p class="error" *ngIf="inputEmail.errors?.['emailValidator']">
          Email is not valid!
        </p>
      </ng-container>

      <!-- password -->
      <span class="login-password">Password</span>

      <p class="field field-icon">
        <label for="password"
          ></label
        >
        <input
          type="password"
          name="password"
          id="password"
          placeholder="******"
          #inputPassword="ngModel"
          ngModel
          required
          minlength="6"
        />
      </p>

      <!-- password validation -->

      <ng-container *ngIf="inputPassword.touched">
        <p class="error" *ngIf="inputPassword.errors?.['required']">
          Password is required!
        </p>
        <p class="error" *ngIf="inputPassword.errors?.['minlength']">
          Password must be at least
          {{inputPassword.errors?.['minlength']['requiredLength']}} characters!
        </p>
      </ng-container>
      <!-- <button (click)="login(inputEmail.value, inputPassword.value)"> -->
      <button [disabled]="form.invalid"
      [class.validForm]="form.valid">
      Login
      </button>

      <p class="text-center">
        Have an account?
        <a routerLink="/register">Register</a>
      </p>
    </fieldset>
  </form>
</div>
