<form #loginForm="ngForm" (ngSubmit)="submitHandler(loginForm)">
  <!-- EMAIL -->
  <div class="form-group">
    <label for="email">Email</label>
    <input type="text" id="email" name="email" ngModel email required  /> <!-- at the end email and requried are build in validation -->
  </div>
  <!-- PASSWORD -->
  <div class="form-group">
    <label for="password">Password</label>
    <input type="text" id="password" name="password" ngModel />
  </div>

  <button>Login</button>
</form>
<br />
<br />
<br />

{{ loginForm.value | json }}
