<div class="listing__bilder__part__two">
  <article class="card__part__two">
    <div class="card__media__two">
      <img src="img/Kiteboarding.jpg" alt="#" />
    </div>

    <div class="card__content__two">
      <a href="#">Kids kitesurfing lessons</a>
      <p>2 days (12hs)</p>
      <p class="summe">250.00$</p>
    </div>
  </article>

  <article class="card__part__two">
    <div class="card__media__two">
      <img src="img/Snorkeling_drive.jpg" alt="#" />
    </div>

    <div class="card__content__two">
      <a href="#">Kids kitesurfing lessons</a>
      <p>2 days (12hs)</p>
      <p class="summe">250.00$</p>
    </div>
  </article>

  <article class="card__part__two">
    <div class="card__media__two">
      <img src="img/Surfing.jpg" alt="#" />
    </div>

    <div class="card__content__two">
      <a href="#">Kids kitesurfing lessons</a>
      <p>2 days (12hs)</p>
      <p class="summe">250.00$</p>
    </div>
  </article>

  <article class="card__part__two">
    <div class="card__media__two">
      <img src="img/Kiteboarding.jpg" alt="#" />
    </div>

    <div class="card__content__two">
      <a href="#">Kids kitesurfing lessons</a>
      <p>2 days (12hs)</p>
      <p class="summe">250.00$</p>
    </div>
  </article>

  <article class="card__part__two">
    <div class="card__media__two">
      <img src="img/Snorkeling_drive.jpg" alt="#" />
    </div>

    <div class="card__content__two">
      <a href="#">Kids kitesurfing lessons</a>
      <p>2 days (12hs)</p>
      <p class="summe">250.00$</p>
    </div>
  </article>

  <article class="card__part__two">
    <div class="card__media__two">
      <img src="img/Surfing.jpg" alt="#" />
    </div>

    <div class="card__content__two">
      <a href="#">Kids kitesurfing lessons</a>
      <p>2 days (12hs)</p>
      <p class="summe">250.00$</p>
    </div>
  </article>
</div>
<div class="button__card__two">
  <a href="#">View all</a>
</div>
