<div class="listing">

    <article class="card">

        <div class="card__media">
            <img src="img/Kiteboarding.jpg" alt="#">
        </div>

        <div class="card__content">
            <a href="#">Kiteboarding</a>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
        </div>    
    </article>

    <article class="card">

        <div class="card__media">
            <img src="img/Snorkeling_drive.jpg" alt="#">
        </div>

        <div class="card__content">
            <a href="#">Snorkeling drive</a>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
        </div>
    </article>

    <article class="card">

        <div class="card__media">
            <img src="img/Surfing.jpg" alt="#">
        </div>

        <div class="card__content">
            <a href="#">Drive swimming</a>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
        </div>
    </article>

    <article class="card">

        <div class="card__media">
            <img src="img/After_school.jpg" alt="#">
        </div>

        <div class="card__content">
            <a href="#">After school</a>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
        </div>
    </article>

</div>

<div class="listing">

    <article class="card">

        <div class="card__media">
            <img src="img/Surf_swimming.jpg" alt="#">
        </div>

        <div class="card__content">
            <a href="#">Scuba driving</a>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
        </div>
    </article>

    <article class="card">

        <div class="card__media">
            <img src="img/Learm_swimming.jpg" alt="#">
        </div>

        <div class="card__content">
            <a href="#">Learn swimming</a>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
        </div>
    </article>

    <article class="card">

        <div class="card__media">
            <img src="img/Kids_for_lessons.jpg" alt="#">
        </div>

        <div class="card__content">
            <a href="#">Kids for lessons</a>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
        </div>
    </article>

    <article class="card">

        <div class="card__media">
            <img src="img/Private_lessons.jpg" alt="#">
        </div>

        <div class="card__content">
            <a href="#">Private lessons</a>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
        </div>
    </article>

</div>