<h2 class="title__page">Our Lessons</h2>

<div *ngIf="isLoading">
  <app-loader />
</div>

<div *ngIf="!isLoading" class="listing__bilder__part__two">
  <article *ngFor="let lesson of lessonArray; let i = index" class="card__part__two">
    <div class="card__media__two">
      <img src="assets/img/Kiteboarding.jpg" alt="#" />
    </div>

    <div class="card__content__two">
      <a [routerLink]="[offerId[i]]">Title: {{ lesson.title }}</a>
      <p>Description: {{lesson.description}}</p>
      <p>Author: {{ lesson.author }}</p>
      <p>Duration: {{ lesson.duration }} Days</p>
      <p>Subscribers: {{ lesson.subscribers }}</p>
      <p class="summe">Price: {{ lesson.price }} $</p>
      <button class="add">Add</button>
      <button class="edit">Edit</button>
      <button class="delete">Delete</button>
    </div>
  </article>
</div>
<div class="button__card__two">
  <a href="#">View all</a>
</div>
