<!-- <main>
    <section id="details">
        <div *ngIf="lesson" id="details-wrapper">
            <p id="details-title">Title: {{lesson.title}}</p>
            <div id="img-wrapper">
                <img src="assets/img/Kiteboarding.jpg" alt="">
            </div>
            <div id="info-wrapper">
                <table>
                    <tr>
                        <td>
                            <p>
                                Description: 
                            </p>
                            <p>{{lesson.description}}</p>
                        </td>
                        <tr>
                            <td>z
                                <p>
                                    Author: 
                                </p>
                                <p>{{this.userEmail}}</p>
                            </td>
                        </tr>
                    <tr>
                        <td>
                            <p>Duration: </p>
                            <p>{{lesson.duration}}</p>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <p>Subscribers: </p>
                            <p>{{lesson.subscribers}}</p>
                        </td>
                    </tr>
                    <p>Do you want to be a part of this project? Then press Here
                    </p>
                        <button type="submit" class="subscribe">Subscribe</button>
                </table>
            </div>
        </div>
    </section>
</main>
 -->

<main>
  <section id="details-page">
    <div class="main_card">
      <div class="card_left">
        <div *ngIf="lesson" class="card_datails">
          <h1>Title: {{ lesson.title }}</h1>
          <div class="card_character">
            <p class="card-species">Author: {{ this.userEmail }}</p>
            <p class="card-skin">Duration: {{ lesson.duration }}</p>
            <p class="card-eye">Subscribers:{{ lesson.subscribers }}</p>
            <p class="card-desc">Description:</p><br>
            <p class="text-desc">{{ lesson.description }}</p>
          </div>
        </div>
      </div>
      <div class="card_right">
        <img src="assets/img/Kiteboarding.jpg" alt="image" />
      </div>
    </div>
    <p class="info-footer">
      Do you want to be a part of this project? Then press Here
    </p>
    <button type="submit" class="subscribe">Subscribe</button>
  </section>
</main>
