<main class="container" *ngIf="lesson">
  <section class="offer-content">
    <div class="form">
      <h2>Edit Your Offer</h2>
      <form class="create-form" editForm="form" (ngSubmit)="edit()">

        <!-- title -->

        <span class="editForm">Title</span>
        <input
          type="text"
          name="title"
          id="title"
          value="{{ lesson.title }}"
          formControlName="title"
        />

        <!-- title validation -->

        <ng-container *ngIf="form.get('title')?.touched">
          <p class="error" *ngIf="form.get('title')?.errors?.['required']">Title is required!</p>
          <p class="error" *ngIf="form.get('title')?.errors?.['minlength']">Title name must be at least 4 characters long.</p>
        </ng-container>
        <!-- description -->

        <span class="editForm">Description</span>
        <textarea
          id="description"
          name="description"
          formControlName="description"
          >{{ lesson.description }}
      </textarea
        >

        <!-- description validation -->

        <p class="error">Description is required!</p>
        <p class="error">Description must be at least 10 characters long.</p>

        <!-- duration -->

        <span class="editForm">Duration</span>
        <input
          type="number"
          name="duration"
          id="duration"
          value="{{ lesson.duration }}"
          formControlName="duration"
        />

        <!-- duration validation -->

        <p class="error">Duration is required!</p>
        <p class="error">The duration cannot exceed 15 days.</p>

        <!-- price -->

        <span class="editForm">Price</span>
        <input
          type="text"
          name="price"
          id="price"
          value="{{ lesson.price }} $"
          formControlName="price"
        />

        <!-- price validation -->

        <p class="error">Price is required!</p>
        <p class="error">Price name must be at least 5 characters long.</p>
        <button type="submit">Edit</button>
      </form>
    </div>
  </section>
</main>
