<div class="header">
  <div class="header__adresse">
    <img src="https://img.icons8.com/material-outlined/48/000000/marker.png" />
    <p>27 Division, Mirpur-12, Palm Beach</p>
  </div>
  <!-- <div class="header__email">
    <span>&#9993;</span>
    <p>plamenpetroww@gmail.com</p>
  </div> -->
  <div class="header__menu">
    <ul>
      <li>
        <a href="#">Find<span class="header__space">|</span></a>
        <a href="#">Create Course<span class="header__space">|</span></a>
        <a *ngIf="isLogged" href="#">Login<span class="header__space">|</span></a>
        <a *ngIf="isLogged" href="#">Register<span class="header__space">|</span></a>
        <a href="#">Logout</a>
      </li>
    </ul>
  </div>
</div>

<div class="nav__menu">
  <div class="nav__menu__left">Aidride</div>
  <div class="nav__menu__center"><a href="#">Home Page</a></div>
  <div class="nav__menu__center"><a href="#">About Us</a></div>
  <div class="nav__menu__center"><a href="#">Projects</a></div>
  <div class="nav__menu__center"><a href="#">Contact Us</a></div>
  <div class="nav__menu__right">
    <span class="nav__menu__book"
      ><a href="#" class="nav__menu__white">Book Today&#129054;</a></span
    >
  </div>
</div>
