

<div class="header">
  <div class="header__adresse">
    <img src="https://img.icons8.com/material-outlined/48/000000/marker.png" />
    <p>27 Division, Mirpur-12, Palm Beach</p>
  </div>

  <div class="header__menu">
    <ul>
      <li>
        <a href="#">Find<span class="header__space">|</span></a>
        <!-- <a href="#">Create Course<span class="header__space">|</span></a> -->
        <a *ngIf="isLogged" routerLink="/login">Login<span class="header__space">|</span></a>
        <a *ngIf="isLogged" routerLink="/register">Register<span class="header__space">|</span></a>
        <a href="#">Logout</a>
      </li>
    </ul>
  </div>
</div>

<div class="nav__menu">
  <div class="nav__menu__left">Aidride</div>
  <div class="nav__menu__center"><a routerLink="/home">Home Page</a></div>
  <div class="nav__menu__center"><a routerLink="/courses">Lessons</a></div>
  <div class="nav__menu__center"><a routerLink="/add-course">Offers</a></div>
  <div class="nav__menu__right">
    <span class="nav__menu__book"
      ><a href="#" class="nav__menu__white">Book Today&#129054;</a></span
    >
  </div>
</div>
