
<div class="nav__menu">
    <div class="nav__menu__left">Aidride</div>
    <div class="nav__menu__center"><a href="#">HOME PAGE v</a></div>
    <div class="nav__menu__center"><a href="#">ABOUT US</a></div>
    <div class="nav__menu__center"><a href="#">PROJECTS</a></div>
    <div class="nav__menu__center"><a href="#">PAGES v</a></div>
    <div class="nav__menu__center"><a href="#">BLOG v</a></div>
    <div class="nav__menu__center"><a href="#">CONTACT US</a></div>
    <div class="nav__menu__right">
      <span class="shopping__auto">&#128722;</span>Add to card<br />(Item :2)
    </div>
    <div class="nav__menu__right">
      <span class="nav__menu__book"
        ><a href="#" class="nav__menu__white">BOOK TODAY&#129054;</a></span
      >
    </div>
  </div>
  